ion-card{
    border-radius: 15px;
    padding: 10px;
    min-height: 200px;
}

ion-card{
    cursor: pointer;
    background: var(--color-theme-light);
}

.title{
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    line-height: 20px;
}

.task.btn{
    width: 120px;
}

.empty{
    padding-top: 15vh;
}